@model TimeTracker.Models.User.EditUserViewModel
@using TimeTracker_Model;
@using TimeTracker.Helper;
@{
    ViewData["Title"] = "User Profile";
    ViewData["ProfilePic"] = Model.Url;
    int roleId = 0;
    int userId = 0;
    if (User != null)
    {
        roleId = User.GetLoginRole();
        userId = User.GetIdFromClaim();
    }
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">User Profile</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-user"></i>
                    User Profile
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <div class="image-areaAA">
                                        @if (string.IsNullOrWhiteSpace(Model.Url))
                                        {
                                            <img class=" profile-user-img img-fluid img-circle" src="~/images/userprofilepic.jpg" alt="User profile picture" id="ProfilePic" style="cursor: pointer; width: 100px; height: 100px; ">
                                        }
                                        else
                                        {
                                            <img class=" profile-user-img img-fluid img-circle" src="@Model.Url" alt="User profile picture" id="ProfilePic" style="cursor:pointer; width:100px; height:100px;">
                                        }

                                        <a class="remove-image" href="#" style="display: inline;" onclick="deleteProfile()"><i class="fa-solid fa-trash"></i></a>
                                        <input type="hidden" value="@userId" id="deleteProfileId" />
                                        <input type="hidden" value="@Model.Url" id="deleteProfileUrl" />
                                    </div>
                                </div>

                                <h3 class="profile-username text-center">@Model.FullName</h3>
                                <p class="text-muted text-center">@Model.Designation</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Joining Date</b>
                                        <a class="float-right" style="color:black !important;">
                                            @string.Format("{0:dd, MMM-yyyy}", Model.JoiningDate)
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Experience</b>
                                        <a class="float-right" style="color:black !important;">@(Model.Experience ?? "N/A")</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Education</b>
                                        <a class="float-right" style="color:black !important;">@(Model.Education ?? "N/A")</a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <form asp-action="Update" enctype="multipart/form-data">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="AvatarFile" type="file" style="display:none" />
                                <input asp-for="MacAddress" type="hidden" />
                                <input asp-for="Designation" type="hidden" />
                                <input asp-for="JoiningDate" type="hidden" />
                                <input asp-for="Experience" type="hidden" />
                                <input asp-for="Url" type="hidden" />
                                <input asp-for="FromProfile" type="hidden" value="true" />
                                <div class="card-body">
                                    <h5 class="font-color">Personal Details</h5>
                                    <div class="row">
                                        <div class="form-group col-md-5">
                                            <label asp-for="FullName" class="required">Full Name</label>
                                            <input asp-for="FullName" type="text" class="form-control form-control-sm" placeholder="Full Name">
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="Email" class="required">Email</label>
                                            <input asp-for="Email" type="email" class="form-control form-control-sm" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="Username" class="required">Username</label>
                                            <input asp-for="Username" type="text" class="form-control form-control-sm" placeholder="Username">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="Gender" class="required">Gender</label>
                                            <select asp-for="Gender" class="form-control form-control-sm">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="ContactNo" class="required">Contact No.</label>
                                            <input asp-for="ContactNo" type="text" class="form-control form-control-sm" placeholder="Contact No.">
                                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="DOB">DOB</label>
                                            <input asp-for="DOB" type="date" class="form-control form-control-sm" placeholder="DOB">
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label asp-for="MacAddress" class="required">MAC Address</label>
                                            @if (roleId == (int)Roles.Admin)
                                            {
                                                <input asp-for="MacAddress" type="text" class="form-control form-control-sm" placeholder="MAC Address">
                                            }
                                            else
                                            {
                                                <input asp-for="MacAddress" type="text" class="form-control form-control-sm" placeholder="MAC Address" disabled>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label asp-for="Address">Address</label>
                                            <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <h5 class="font-color">Bank Details</h5>
                                    <div class="row">
                                        <div class="form-group col-md-5">
                                            <label asp-for="BankName">BankName</label>
                                            <input asp-for="BankName" type="text" class="form-control form-control-sm" placeholder="BankName">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="AccountNo">AccountNo</label>
                                            <input asp-for="AccountNo" type="text" class="form-control form-control-sm" placeholder="AccountNo">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="IFSC">IFSC</label>
                                            <input asp-for="IFSC" type="text" class="form-control form-control-sm" placeholder="IFSC">
                                        </div>

                                    </div>
                                    @if (roleId == (int)Roles.Admin)
                                    {
                                        <h5 class="font-color">Other Details</h5>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                <label asp-for="Designation" class="required">Designation</label>
                                                <input asp-for="Designation" type="text" class="form-control form-control-sm" placeholder="Designation">
                                                <span asp-validation-for="Designation" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="JoiningDate" class="required">JoiningDate</label>
                                                <input asp-for="JoiningDate" type="date" class="form-control form-control-sm" placeholder="JoiningDate">
                                                <span asp-validation-for="JoiningDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label asp-for="Experience">Experience</label>
                                                <input asp-for="Experience" type="text" class="form-control form-control-sm" placeholder="Experience">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                <label asp-for="Education">Education</label>
                                                <input asp-for="Education" type="text" class="form-control form-control-sm" placeholder="Education">
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <input type="submit" class="btn btn-info theme-color" value="Update" />
                                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#ProfilePic').on('click', function () {
                    $('#AvatarFile').trigger('click');
                });
            });

            $('.remove-image').on('click', function () {
                $('#ProfilePic').attr('src', '/images/userprofilepic.jpg');
            });

            $('#AvatarFile').change(function () {
                const file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $('#ProfilePic').attr('src', event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
    }
